.container {
    
    margin-top: 55px;
}

.jumbotron {
    background-image: url(pen1.JPG);
    background-size: cover;
    background-position: center;
    color: yellow;
    border: solid;
    border-color: black;
    font-family: 'PT Sans Narrow', sans-serif;
}

.jumboBelow {
    font-family: 'PT Sans Narrow', sans-serif;
}

.aboutLink {
    color: yellow;
}

.portfolioLink {
    color: yellow;
}

.contactLink {
    color: yellow;
}

.contactLink2 {
    color: black;
}

.socialMediaLink {
    color: yellow;
}


.container2 {
    padding: 10px;
}


.form-group {
    margin-top: 30px;
}

.btn {
    background-color: #555555;
    border: 2px solid #818180;
    border-radius: 45%;

}

.card-img-top {
    width: 100%;
    height: 40vw;
    object-fit: contain;
}

.card-title {
    
    text-align: center;
}

.card {
    background-color: rgb(29, 28, 28);
    color: white;
}

.cardLinks {
    color: white;
}

.cardContact {
    align-items: center;
    border-style: solid;
    border-width: thin;
 
}


.list-group-item {
    color: black;
}